<div class="content-login">
  <form class="form-login" #formUser="ngForm">
    <div class="section">
      <label>User</label>
      <input (keyup)="onChange($event)" autocomplete="off" type="text" id='username' name='username'
        [style.border] = "errorUser.userName && errorMsg ? '1px solid red' : '1px solid #6c757d'"
        [(ngModel)]="user.username">
    </div>
    <div class="section">
      <label>Password</label>
      <input (keyup)="onChange($event)" autocomplete="off" type="password" name='passsword' #password="ngModel"
        [style.border] = "errorUser.password && errorMsg ? '1px solid red' : '1px solid #6c757d'"
        [(ngModel)]="user.password">
    </div>
    <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible small fade show" role="alert">
      <strong>Error: </strong> Es necesario ingresar todos los campos.
      <button type="button" class="close message-box-button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <button type="submit" (click)="sendUser($event)" class="btn btn-light">Acces</button>
  </form>


</div>